/* Table sorting */
.sorter {color:#e3e3e3;}
.sorter.sorted {color:black;}


/* Bootstrap overrides */
.dl-horizontal dt {width:120px;}
.dl-horizontal dd {margin-left:140px;}
.apply-button, #all-jobs {margin-bottom:15px;}


/* Bubblle chart */
#vis {width:940px; height:600px; clear:both; margin-bottom:10px;}
#view_selection {margin-top:10px;}
.years {font-size:21px; fill:#aaa;}
.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius:5px;
  border-radius: 5px;
  border: 2px solid #000;
  /* background: #222222; */
  background: #fff;
  opacity: .9;
  /* color: #eeeeee; */
  color: black;
  padding: 10px;
  width: 300px;
  font-size: 12px;
  z-index: 10;
}
.tooltip .title {font-size:13px;}
.tooltip .name {font-weight:bold;}


/* Loading spinner */
.spinner {
  height: 60px;
  width: 60px;
  margin: 20px auto 0 auto;
  position: relative;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid rgba(0, 174, 239, .15);
  border-right: 6px solid rgba(0, 174, 239, .15);
  border-bottom: 6px solid rgba(0, 174, 239, .15);
  border-top: 6px solid rgba(0, 174, 239, .8);
  border-radius: 100%;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
