<h1>Jobs by salary</h1>

<div id="view_selection" class="btn-group">
  <a href="#" id="all" class="btn active">All jobs</a>
  <a href="#" id="year" class="btn">Jobs by category</a>
</div>
<p class="lead text-center loading">Loading job data</p>
<div class="spinner loading"></div>
<div id="vis"></div>

<script type="text/javascript">
  var root = this;

  $(function() {
    var chart, render_vis;
    chart = null;
    render_vis = function(data) {
      chart = new BubbleChart(data);
      chart.start();
      return root.display_all();
    };
    root.display_all = (function(_this) {
      return function() {
        return chart.display_group_all();
      };
    })(this);
    root.display_year = (function(_this) {
      return function() {
        return chart.display_by_year();
      };
    })(this);
    root.toggle_view = (function(_this) {
      return function(view_type) {
        if (view_type === 'year') {
          return root.display_year();
        } else {
          return root.display_all();
        }
      };
    })(this);
    return d3.json("api/jobs", render_vis);
  });

  $(document).ready(function() {
    $('#view_selection a').click(function() {
      var view_type = $(this).attr('id');
      $('#view_selection a').removeClass('active');
      $(this).toggleClass('active');
      toggle_view(view_type);
      return false;
    });
  });
</script>
